<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/mvc 
           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">
    
    <context:component-scan base-package="no.iprog.ml.objectrecognition.webapp.resources" />
    <mvc:annotation-driven />
    
    <mvc:resources mapping="/resources/**" location="/resources/" cache-period="0" />
    <mvc:resources mapping="/client/**" location="/client/build" cache-period="0" />
    
    <bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
    
    <bean id="hadoopConf" class="no.iprog.ml.objectrecognition.hadoop.Configuration">
        <property name="fsDefaultName">
            <value>hdfs://192.168.33.10:9000</value>
        </property>
        <property name="basepath">
            <value>/objectrecognition/</value>
        </property>
    </bean>
    
    <bean id="fileService" class="no.iprog.ml.objectrecognition.hadoop.hdfs.HDFSFileService" init-method="init" destroy-method="destroy">
        <property name="conf" ref="hadoopConf"/>
    </bean>
</beans>