<!DOCTYPE html>
<html ng-app="od">
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/select2/select2.css">

        <script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-bootstrap3/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="bower_components/select2/select2.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-select2/src/select2.js"></script>

        <script type="text/javascript" src="bower_components/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
        <script type="text/javascript" src="bower_components/jquery-file-upload/js/jquery.iframe-transport.js"></script>
        <script type="text/javascript" src="bower_components/jquery-file-upload/js/jquery.fileupload.js"></script>

        <script type="text/javascript" src="js/app.js"></script>
    </head>
    <body ng-app="od">
        <div class="container" ng-controller="ImageTaggingController" style="position:relative">
            <div class="wrapper">
                <uploader url="/objectrecognition-webapp/image"></uploader>

                <select class="form-control" ng-model="image" ng-options="i.path for i in images"></select>
                
                <div class="box">
                    <div class="image-container">
                        <marker target="tag"></marker>
                        
                        <tag ng-repeat="tag in image.tags" tag="tag"></tag>

                        <img id="edit-image" src="{{image.path}}" ng-mousedown="startDraw($event)" ng-mousemove="moveDraw($event)" ng-mouseup="endDraw($event)" />

                    </div>

                    <div class="panel panel-default tags">
                        <div class="panel-heading">Tags</div>

                        <ul class="tags list-group">
                            <li class="tag list-group-item" ng-repeat="t in image.tags" ng-mouseover="t.higlight = true" ng-mouseleave="t.higlight = false">
                                <button  class="btn btn-default btn-danger btn-xs" ng-click="remove(t)"><span class="glyphicon glyphicon-remove"></span></button>
                                <p>{{t.text}}</p>
                            </li>
                            <li class="tag list-group-item">
                                <button  class="btn btn-default btn-success btn-xs" ng-click="add()" ng-disabled="tag.width == 0 || tag.text == ''"><span class="glyphicon glyphicon-plus"></span></button>
                                <input class="tag-text" type="hidden" ng-model="selectedTagText" ui-select2="tagSelectOptions" ng-change="tagSelectChanged($event)" />
                            </li>
                        </ul>
                    </div>
                </div>
                        
<pre ng-if="debug">
Tag:
----------------
{{tag | json}}

Image:
----------------
{{image | json}}
</pre>
                <textarea>{{images | json}}</textarea>
            </div>
        </div>
    </body>
</html>
