body {
	padding-top: 10px;
}

.wrapper {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}

.box {
	overflow: hidden;
    margin: 10px 0 10px 0;
}

.image-container {
	position: relative;
	float: left;
}

.image-container .tag,
.image-container .marker {
	border: 1px solid #51CA00;
	position: absolute;
	pointer-events:none;
	z-index:999;
}


.image-container .marker,
.image-container .tag.higlight {
	background-color: rgba(23, 141, 7, 0.4);
}

.image-container img {
	position:relative;
	z-index:99;
}

.panel.tags {
	width: 230px;
	margin-left: 10px;
	display: inline-block;
}

.panel.tags ul.tags li.tag p {
	width: 170px;
	overflow: hidden;
	margin: 0;
}

.panel.tags ul.tags li.tag .select2-container-multi .select2-choices .select2-search-field input {
	padding: 1px;
}

.panel.tags ul.tags button {
	float: right;
}

.tag-text {
	width: 170px;
}

.wrapper textarea {
	width: 100%;
	height: 200px;
}